*.suo
*.sln
*.userprefs
*.csproj
*.pidb
*.unityproj
*.dwlt
*.keystore
.DS_Store

Assets/GoogleMobileAds
Assets/Plugins
Library
Library/meta*
Library/shader*
Star.apk
NumbersGame.apk
*.meta
obj
ProjectSettings
